* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;

}


header {
    display: inline-block;
    width: 100%;
    background-color: lightblue;
    padding: 10px;

}

header h1{
    display: inline;
}
header nav ul {
    float: right;
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

/*
.about-me {
    display: flex;
    justify-content: center;

}

.about-me-header {
    align-self: flex-start;
    padding: 10px 20px;
}


.text-container {
    align-self: center;
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    width: 70%;
    border-left: 1px solid black;
    border: 2px dotted black;
}

.about-me-text {
    width: 100%;

}
*/
.work {
    width: 80%;
    display: flex;
    justify-content: center;
    margin-bottom: 5%;

    
}
 
.work-header{
    align-self: flex-start;
    padding: 10px 20px;
    

}

.invisible {
    color: white;
}

.link-container {
    align-self: center;
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    width: 70%;
    justify-content: center;
    border-left: 1px solid black;

 
}


.large-container {
    width: 100%;
    border: 1px solid black;
    padding: 10% 40%;

}

.small-container {
    padding: 5% 20%;
    margin: 1%;
    border: 1px solid black;

}