* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    
}

body {
    background-image: radial-gradient(whitesmoke, lightblue);
}

/* header and nav styling */
header {
    display: inline-block;
    width: 100%;
    background-color: lightblue;
    height: 60px;

}

header h1{
    display: inline;
    padding-left: 25px;
    font-size: xx-large;
}

header a {
    color: black;
    font-weight: bolder;
    
}
header nav ul {
    float: right;
    padding-right: 25px;
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline;
    padding: 10px;
}

.banner img{
    width: 100%;
    height: 175px;
}

/* main flex boxes to hold the page elements */
.main-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.container-2 {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 5%; 
}
 
.content-header{
    align-self: flex-start;
    padding: 10px 20px;
    width: 20%;
    text-align: end;
}

.content-container {
    align-self: center;
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    flex-direction: row;
    width: 80%;
    justify-content: space-evenly;
    flex: 1 1;
    border-left: 1px solid black;
}


.image img{
    width: 100%;
    margin: 25px 0 0 0;
    border: 2px solid black;
    border-radius: 10px;

}

/* styling for small and large link containers */
.large-container {
    justify-content: center;
    order: -1;
    display: flex;
    width: 80%;
    flex-shrink: 3;
    margin-bottom: 5%;
    border-radius: 10px;
}

.large-container a {
    display: flex;
    width: 100%;
    padding: 15% 0;
    border: 4px solid black;
    border-radius: 10px;
    text-decoration: none;
    color: black;
}


.small-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    width: 35%;
    border: 2px solid black;
    margin-bottom: 5%;
    border-radius: 10px;
    padding: 4% 0;
    text-align: center;
    font-weight: bolder;
    background-image: url(./images/banner.jpg);
}

.text-container{
    width: auto;
    border: 2px dotted black;
    border-radius: 0 10px 10px 0;
    padding: 3px 3px;
    background-color: white;

}
/*  */

/* adds a bright border when user hovers over a link */
.large-container:hover {
    border: 5px solid orange;
    border-radius: 15px;
}


.small-container:hover {
    border: 3px solid orange;
    border-radius: 15px;
}


/* background images for each link card */
#SEO {
    background-image: url(./images/seo.jpg);
    background-size: 100%;
}

#calculator {
    background-image: url(./images/calculator.jpg);
    background-size: 100%;
}

#calender {
    background-image: url(./images/calender.jpg);
    background-size: 100%;
}

#bar {
    background-image: url(./images/bar.jpg);
    background-size: 100%;
}

#Ball {
    background-image: url(./images/balls.jpg);
    background-size: 100%;
}



.link-container li {
    list-style: none;
    display: inline;
}


/* various media queries to help make the page more responsive on different devices */
@media screen and (max-width: 992px){
    .small-container{
        width: 50%;
    }
    
}

@media screen and (max-width: 768px){
    .small-container{
        width: 75%;
    }
    
}

@media screen and (max-width: 500px){
    h2 {
        font-size: 1em;
    }
}

@media screen and (max-width: 300px){
    h3 {
        font-size: .5em;
    }
}